.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SuccessMessage.css */
.success-message-container {
  text-align: center;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  margin: 20px;
}

h3 {
  padding: 25%;
  font-size: 24px;
  color: #007bff;
}

h1 {
  color: #007bff;
}

p {
  font-size: 18px;
}

.myButton{
  background-color: rebeccapurple;
  width: 25%;
  padding: 5%;
  margin-left: 18vh;
  border-radius: 25%;
}

.btnSign{
  margin-bottom: 3%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .success-message-container {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

/* Add more media queries and styles as needed for different screen sizes */
